@{
    ViewData["Title"] = "Student Results Summary";
    var subjects = ViewBag.Subjects as List<string>;
    var studentResults = Model as List<Dictionary<string, object>>;
    int selectedClass = ViewBag.SelectedClass ?? 0;
}
<style>
    .custom-btn {
        color: white !important;
        background-color: #a5a3a3;
    }

        .custom-btn:hover {
            background-color: #8e8e8e;
        }

    .table-color {
        background-color: #a5a3a3 !important;
        color: white !important;
    }

        .table-color th {
            background-color: #a5a3a3 !important;
            color: white !important;
        }
</style>


<div style="display: flex; justify-content: center;">
    <div style="width: 70%;">
        <h2>Student Results Summary</h2>

        @if (selectedClass > 0)
        {
            <div class="row p-6">
                <div class=" col-6">  <p><strong>Class: </strong>@selectedClass</p></div>
                <div class="col-6 text-end">
                    <h2 class="btn custom-btn">Publish</h2>
                </div>

            </div>

            <table class="table table-bordered table-color mt-3">
                <thead class="table-color">
                    <tr>
                        <th>Student ID</th>
                        @foreach (var subject in subjects)
                        {
                            <th>@subject</th>
                        }
                        <th>Total Marks</th>
                        <th>Grade</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var student in studentResults)
                    {
                        <tr>
                            <td>@student["StudentId"]</td>
                            @foreach (var subject in subjects)
                            {
                                <td>@student[subject]</td>
                            }
                            <td>@student["TotalMarks"]</td>
                            <td>@student["Grade"]</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
